*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: rgb(222, 223, 223); */
    background: url('background_purple.webp');
    background-position: cover;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
}

.container{
    position: relative;
    width: 400px;
    height: 100px;
    
    background-color: rgb(255, 255, 255, .1 );
    backdrop-filter: blur(25px);
    border: 2px solid rgb(255, 255, 255, .2);;
    border-radius: 16px;
    padding: 16px;

    color: #fff;

    transition: height .6s ease;

}

.search-box{
    position: relative;
    width: 100%;
    height: 55px;

    /* background-color: rgb(238, 0, 255); */
    border-radius: 16px;
    
    display: flex;
    align-items: center;
}


.search-box i{

    position: absolute;
    left: 10px;
    font-size: 28px;
    
}

.search-input{
    position: absolute;
    width: 100%;
    height: 100%;

    background: transparent;
    outline: none;
    
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;

    font-size: 22px;
    color: #fff;
    font-weight: 500;

    text-transform: uppercase;
    padding: 0 48px 0 42px;

}

.search-input::placeholder{
    text-transform: capitalize;
    color: #fff;
}

.search-box button{
    position: absolute;
    right: 0;
    width: 40px;
    height: 100%;

    background: transparent;
    outline: none;

    border: none;

    font-size: 28px;
    color: #fff;

    padding: 0 40px 0 5px;
    cursor: pointer;

}

.weather-box{
    text-align: center;
    margin: 40px 0;
}

.weather-box,
.weather-info,
.not_found{
    overflow: hidden;
    visibility: hidden;
}

.weather-box.active,
.weather-info.active,
.not_found.active{
    visibility: visible;
}

.weather-box .box,
.not-found .box{
  transform: translateY(-100%);
}


.weather-box.active .box,
.not-found.active .box{
    transform: translateY(0%);
    transition: transform 1s ease;
    transition-delay: .6s;
}

.weather-box .box .info-weather{
    transform: translateY(-120%);
}

.container.active .weather-box .box .info-weather,
.container.active .weather-info .humidity .info-humidity,
.container.active .weather-info .wind .info-wind{
    transform: translateY(0%);
    transition: transform 1s ease;
}


.weather-box img{
    width: 50%;
}

.weather-box .temperature{
    position: relative;
    line-height: 1;
    font-size: 64px;
    font-weight: bolder;

    margin: 20px 0 6px -30px;
}

.weather-box .temperature span{
    position: absolute;
    margin-left: 4px;
    font-size: 24px;
}

.weather-box .description{
    position: relative;
    font-size: large;
    font-weight: 900;
    text-transform: capitalize;
}

.weather-info{
  position: absolute; 
  bottom: 40px; 
  left: 0;
  width: 100%;
  padding: 0 20px;
  display: flex;

}

.weather-info .humidity,
.weather-info .wind{
    display: flex;
    align-items: center;
    width: 50%;
    transform: translateY(-100%);
}

.weather-info.active .humidity,
.weather-info.active .wind{
    transform: translateY(0%);
    transition: transform 1s ease;
    transition-delay: 1.2s;
}

.weather-info .humidity .info-humidity,
.weather-info .wind .info-wind{
   transform: translateY(-100%);
   overflow: hidden;
}

.weather-info .humidity{
    justify-content: flex-start;
    padding-left: 20px;
    
}

.weather-info .wind{
    justify-content: flex-end;
    /* padding-right: 20px; */
}



.weather-info i{
    font-size: 56px;
    margin-right: 10px;
    display: flex;
}

.weather-info span{
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
}

.weather-info p{
    font-weight: 700;
}

.not_found{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   text-align: center;
   margin-top: 50px;
}
.not_found img{
    width: 65%;

}

.not_found p{
    font-size: 20px;
    font-weight: 600;
}

.city-hide{
    display: none;
}

#clone-info-weather,
#clone-info-humidity,
#clone-info-wind{
    position: absolute;
    transform: translateY(-100%);
}

#clone-info-weather .weather{
    transform: translateY(150%);
    transition: transform 1s ease, opacity 0s;
    transition-delay: 0s, 2s;
}

.weather-box:not(.active) #clone-info-weather .weather{
    opacity: 0;
    transition-delay: 2s;
}

.active-clone#clone-info-weather .weather{
    transform: translateY(0%);
}

#clone-info-humidity span,
#clone-info-wind span{
    transform: translateY(100%);
    transition: transform 1s ease;
    
}

.active-clone#clone-info-humidity span,
.active-clone#clone-info-wind span{
    transform: translateY(0%);
    

}